version: '3.5'
services:
  bibliodb:
    image: postgres:alpine
    ports:
      - '2131:5432'
    container_name: biblioback
    environment:
      POSTGRES_DB: db_back
      POSTGRES_USER: back
      POSTGRES_PASSWORD: back
    volumes:
      - './sql:/docker-entrypoint-initdb.d'
    restart: always
    network_mode: bridge
  #biblioback:
    #image: biblioback
    #depends_on:
     # - bibliodb

