body{
    margin: 1%;
    padding: 1%;
    background: darkslategrey;
    color: white;
    box-shadow: aqua;
}

a{
    color: darkblue;
}

h4, td{
    color: gray;
}

ul{
    list-style-type: none ;
    margin-left:0;
    padding-left:0;
}



